@model DTO.UserDTO
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        *{
            margin:0px;
            padding:0px;
        }
        body {
          
            background-image: url('../../Images/movie.jpg');
            background-size:cover;
            background-position:top;
            background-repeat: no-repeat;
            
            font-family: 'Times New Roman';
        }
        h1{
            font-size:40px;
            color:lightgrey;
            margin-top:20px;
            margin-bottom:30px;
        }
        .form-control{
            background:rgba(255,255,255,.2);
            border:0px;
            border-radius:0px;
            border-bottom:2px solid white;
            font-size:15px;
            color:white;
        }
        .btn-info{
            margin-left:150px;
            margin-top:20px;
            width:180px;
            font-size:19px;
            border-radius:1000px;
        }
        .col-md-6{
            background:rgba(0,0,0,.4);
            height:660px;
            box-shadow:-1px 1px 60px 10px black inset;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
       <div class="container">
           <div class="row">
               <div class="col-md-3"></div>
               <div class="col-md-6">
                   <h1 class="text-center">Register</h1>
                   <!--make a row in col-md-6 for label and textbox-->
                   <div class="form-group">
                   @Html.LabelFor(m => m.UserName, new { @class = "control-label",style="color:white"})
                   @Html.TextBoxFor(m => m.UserName, new { @class = "form-control",placeholder = "Name" })
                   </div>
                   <div class="form-group">
                       @Html.LabelFor(m => m.Password, new { @class = "control-label", style = "color:white" })
                       @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                   </div>
                   <div class="form-group">
                       @Html.LabelFor(m => m.MobileNo, new { @class = "control-label", style = "color:white" })
                       @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", placeholder = "MobileNo" })
                   </div>
                   <div class="form-group">
                       @Html.LabelFor(m => m.EmailId, new { @class = "control-label", style = "color:white" })
                       @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control",type="email", placeholder = "EmailId" })
                   </div>
                   <div class="form-group">
                       @Html.LabelFor(m => m.Address, new { @class = "control-label", style = "color:white" })
                       @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Address" })
                   </div>
                   <button class="btn btn-info" formaction="UserRegistration">Submit</button>
                   </div>
               </div>
           </div>
       
    }
</body>
</html>>
